<%= form_with model: user, local: true do |form| %>

  <p>
  <%= form.label :username %>
  <%= form.text_field :username %>
</p>
  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>
  

  <%= form.submit %>
<% end %>